*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.header{
    height: 90px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.logo{
    width: 273px;
    height: 63px;
    position: absolute;
    top: 10px;
    left: 10px;
}
#header_right{
    width: 700px;
    position: absolute;
    right: 0;
    top: 10px;  
}
#header_right #left ul li {
    display: inline;
    width: 10px;
}
#right{
    float: left;
    margin-top: 38px;
    margin-left: 20px;
}
#right a{
    font-size: 12px;
    color: rgb(112, 112, 112);
    padding-right: 5px;
    border-right: 1px solid ;
}
#right a:hover{
    color: rgb(9, 93, 64);
}
#left{
    float: left;
    margin-left: 170px;
    margin-top: 35px;
}
#left ul li {
    text-align: center;
}
#left ul li a{
    color: #fff;
    display: inline-block;
    width: 67px;
    height: 26px;
    background-image: url(./images/d_bg1.jpg);
    transition: .5s; 
    margin-right: 15px;
    font-size: 15px;
    line-height: 26px;
}
#left ul li #a2{
    background-image: url(./images/d_bg2.jpg);
    transition: .5s; 
}
#left ul li #a3{
    background-image: url(./images/d_bg3.jpg);
    transition: .5s; 
}
#left ul li #a4{
    background-image: url(./images/d_bg4.jpg);
    transition: .5s; 
}
#left ul li a:hover{
    background-position: bottom;
}
.nav{
    width: 810px;
    height:40px;
    float:left;
    z-index:2000;
    position:relative;
    /* margin-left: 450px; */
    left: 20%;
    top: 0;
    right: 0;
    bottom: 0;
}
.nav li{
    font-size:14px;
    width:70px;
    position:relative;
    float:left;
    z-index:2000;
    margin-right: 28px
}

.nav li a{
    font-family:"΢���ź�";
    height:40px;
    width:70px;
    background:url("../images/nav_libg.jpg") no-repeat right center;
    color: #000;
    display: block;
     line-height: 40px;
}
.nav li a:hover{
    background:url("../images/nav_lihbg.jpg") no-repeat right center;
    color: #095d40;
}
.nav dl{
    height:auto;
    width:278px;
    background:#fff;
    position: absolute; 
    padding-bottom:0px 7px 12px 7px; 
    left: 0px; top: 40px; 
    filter: alpha(opacity=80);
    opacity: 0.8;
    z-index: 2000;
    display: none;
}
.nav dl dd{
    width:139px;
    float:left;
    line-height:28px
}
.nav dl dd a{
    font-family:"΢���ź�";
    width:116px;
    background:url("../images/li_bg.jpg") no-repeat left center; 
    color: #505050; padding-left: 14px; 
    display: inline-block;
}
.nav dl dd a:hover{
    background: url("../images/li_hbg.jpg") no-repeat left center; 
    color: #095d40;
}
.nav_right{
    width: 177px;
    height: 27px;
    float: left;
    margin-top: 5px;
    margin-left: 300px;
    background-image: url(./images/sea_bg.jpg);
}
.nav_right input{
    width: 145px;
    height: 23px;
   outline: none;
   font-size: 12px;
}
.banner{
    overflow: hidden;
    width: 100%;
    height: 376px;
    position: relative;
}
.banner img{
    background-size: cover;
    background-repeat: no-repeat;
    /* left: 100px; */
}
#prev{
    width: 30px;
    height: 30px;
    background-image: url(./images/arrows.png);
    position: absolute;
    top: 173px;
    left: 0%;
}
#next{
    width: 30px;
    height: 30px;
    background-image: url(./images/arrows.png);
    background-position: 30px;
    position: absolute;
    right: 0px;
    top: 173px;
}
.clear{
    clear:both;
}
/* 轮播图结束 */
.main{
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 200px;
}
.main h2{
    font-size: 18px;
    width: 710px;
    height: 75px;
    float: left;
    font-weight: 400;
    line-height: 75px;
    border-bottom: 1px solid rgb(228, 228, 228);
    
}
.main h2 a{
    margin-left: 10px;
    font-size: 10px;
    font-weight: 400;
    color: rgb(135, 133, 133);
}
.main h2 a:hover{
    color: rgb(0, 0, 0);
}
.main_left_box{
    float: left;
    width: 710px;
    height: 220px;
    border-bottom: 1px solid rgb(228, 228, 228);
}
.main .main_left_box .left_box{
    float: left;
    width: 200px;
    /* height: 130px; */
    padding-right: 20px;
    border-right: 1px solid rgb(228, 228, 228);
}
.main .main_left_box .left_box img,.main .main_left_box .center_box img,.main .main_left_box .right_box img{
    margin-top: 20px;
    margin-bottom: 20px;
}
.main .main_left_box .left_box a,.main .main_left_box .center_box a,.main .main_left_box .right_box a{
    font-size: 12px;
    color: rgb(101, 100, 100);
}
.main .main_left_box .center_box,.main .main_left_box .right_box{
    float: left;
    height: 208px;
    width: 200px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 20px;
    border-right: 1px solid rgb(228, 228, 228);
}
.main .main_left_box .right_box{
    border-right: none;
}
.main .main_right_box{
    width: 300px;
    height: 200px;
    margin-left: 50px;
    float:left;
    margin-top: -55px;
}
#box1,#box2,#box3{
    float: left;
    
    
}
#c1,#c2,#c3{
    display: inline-block;
    width: 93px;
    height: 42px;
    font-size: 16px;
    line-height: 42px;
    color: black;
    text-align: center;
}
#c1:hover,#c2:hover,#c3:hover{
    background-color: rgb(14, 139, 97);
    font-size: 18px;
    color: #fff;
}
 #box1_child{
    position: absolute;
    display: none;
    width: 350px;
    height: 100px;
    margin-top: 20px;
    
 }
#box1 #box1_child a,#box2 #box1_child a,#box3 #box1_child a{
    color:black;
    font-size: 12px;
}
#box1:hover #box1_child,#box2:hover #box1_child,#box3:hover #box1_child{
    display: block;
    z-index: 9;
}
#box1,#box2,#box3{
    position: relative;
}
#box1_child ul li{
    margin-top: 10px;
}
#bj{
    width: 350px;
    height: 180px;
    background-color: rgb(228, 228, 228);
    position:absolute;
    top: 70px;
    z-index: 1;
}

#box2 #box1_child{
    position: absolute;
    left: -93px;
}
#box3 #box1_child{
    position: absolute;
    left: -186px;
}
#h2_2{
    width: 493px;
    height: 75px;
}
.main_bottom_left_box{
    width: 700px;
    margin-top: 20px;
}
.main_bottom_left_box a{
    display: block;
    float: left;
    width: 50px;
    height: 69px;
    font-size: 12px;
    text-align: center;
    margin-left: 10px;
    color: rgb(101, 100, 100);
    margin: 30px 5px;
}
.main_bottom_left_box a:hover{
    color: rgb(9, 93, 64);
}
.main_bottom_right_box{
    margin-left: 300px;
    float: left;
    width: 300px;
    /* background-color: red; */
}
#deploy1{
    margin-top: -60px;
    width: 237px;
    height: 75px;
}
#deploy1 a{
    margin-right: 20px;
    color: rgb(135, 133, 133);
    font-size: 18px;
}
#deploy1 a:hover{
    color: black;
}
#result ul li  span{
    color: rgb(110, 68, 1);
    text-align: center;
    display: block;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    width: 24px;
    height: 24px;
    background-color: rgb(225, 225, 225);
}
#result{
    margin-top: -20px;
    width: 237px;
}
#result ul li{
     margin-bottom: 20px;
     border-bottom: 1px solid rgb(225, 225, 225);
}
#result ul li a{
    font-size: 12px;
    color: rgb(101, 100, 100);
}
#result ul li a:hover{
    color: rgb(9, 93, 64);
}
#footer{
    overflow: hidden;
    height: 100px;
    background-color: rgb(208, 197, 186);
}
#center{
    width: 1100px;
    margin: 0 auto;
}
.center_left{
    float: left;
    margin-top: 15px;
    width: 180px;
    height: 76px;
    border-right: 1px solid rgb(138, 138, 138);
}
#center .center_left a{
    display: inline-block;
    width: 67px;
    height: 20px;
    margin-top: 10px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
}
#a_1{
    background-image: url(./images/d_bg1.jpg);
    margin-right: 20px;
}
#a_2{
    background-image: url(./images/d_bg2.jpg);
    margin-right: 20px;
}
#a_3{
    background-image: url(./images/d_bg3.jpg);
    margin-right: 20px;
}
#a_4{
    background-image: url(./images/d_bg4.jpg);
    margin-right: 20px;
}
#a_1:hover,#a_2:hover,#a_3:hover,#a_4:hover{
    background-position: 0px 26px;
}
.center_left_2{
    text-align: center;
    width: 200px;
    height: 76px;
    float: left;
    margin-top: 15px;
    border-right: 1px solid rgb(138, 138, 138);
    
}
.center_left_2 a{
    display: inline-block;
    width: 67px;
    height: 20px;
    margin-top: 10px;
    text-align: center;
    line-height: 20px;
    color: #000;
    font-size: 12px;
}
.center_left_2 a:hover{
    color:rgb(9, 93, 64);
}
.center_center{
    text-align: center;
    width: 200px;
    height: 76px;
    float: left;
    margin-top: 15px;
    border-right: 1px solid rgb(138, 138, 138);
}
.center_right{
    margin-left: 20px;
    font-size: 12px;
    width: 400px;
    height: 76px;
    float: left;
    margin-top: 15px;
}
